<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>_smart.aGl</key>
    <string>_smart.aG_l.glif</string>
    <key>_smart.belt</key>
    <string>_smart.belt.glif</string>
    <key>_smart.cha</key>
    <string>_smart.cha.glif</string>
    <key>_smart.haa</key>
    <string>_smart.haa.glif</string>
    <key>_smart.haa.acute</key>
    <string>_smart.haa.acute.glif</string>
    <key>_smart.hat</key>
    <string>_smart.hat.glif</string>
    <key>_smart.hat.left</key>
    <string>_smart.hat.left.glif</string>
    <key>_smart.he</key>
    <string>_smart.he.glif</string>
    <key>_smart.he.acute</key>
    <string>_smart.he.acute.glif</string>
    <key>_smart.he.left</key>
    <string>_smart.he.left.glif</string>
    <key>_smart.hee</key>
    <string>_smart.hee.glif</string>
    <key>_smart.hha.neck</key>
    <string>_smart.hha.neck.glif</string>
    <key>_smart.hi</key>
    <string>_smart.hi.glif</string>
    <key>_smart.ho</key>
    <string>_smart.ho.glif</string>
    <key>_smart.ho.ring</key>
    <string>_smart.ho.ring.glif</string>
    <key>_smart.hu</key>
    <string>_smart.hu.glif</string>
    <key>_smart.hwa</key>
    <string>_smart.hwa.glif</string>
    <key>_smart.ka</key>
    <string>_smart.ka.glif</string>
    <key>_smart.neck</key>
    <string>_smart.neck.glif</string>
    <key>_smart.ye</key>
    <string>_smart.ye.glif</string>
    <key>_smart.zha</key>
    <string>_smart.zha.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aGlottal-ethiopic</key>
    <string>aG_lottal-ethiopic.glif</string>
    <key>aPharyngeal-ethiopic</key>
    <string>aP_haryngeal-ethiopic.glif</string>
    <key>aaGlottal-ethiopic</key>
    <string>aaG_lottal-ethiopic.glif</string>
    <key>aaPharyngeal-ethiopic</key>
    <string>aaP_haryngeal-ethiopic.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>afii00208</key>
    <string>afii00208.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>apostrophe</key>
    <string>apostrophe.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>ba-ethiopic</key>
    <string>ba-ethiopic.glif</string>
    <key>ba.base</key>
    <string>ba.base.glif</string>
    <key>baa-ethiopic</key>
    <string>baa-ethiopic.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>be-ethiopic</key>
    <string>be-ethiopic.glif</string>
    <key>bee-ethiopic</key>
    <string>bee-ethiopic.glif</string>
    <key>bi-ethiopic</key>
    <string>bi-ethiopic.glif</string>
    <key>bo-ethiopic</key>
    <string>bo-ethiopic.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bu-ethiopic</key>
    <string>bu-ethiopic.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bwa-ethiopic</key>
    <string>bwa-ethiopic.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>ca-ethiopic</key>
    <string>ca-ethiopic.glif</string>
    <key>caa-ethiopic</key>
    <string>caa-ethiopic.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ce-ethiopic</key>
    <string>ce-ethiopic.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cee-ethiopic</key>
    <string>cee-ethiopic.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cha-ethiopic</key>
    <string>cha-ethiopic.glif</string>
    <key>chaa-ethiopic</key>
    <string>chaa-ethiopic.glif</string>
    <key>che-ethiopic</key>
    <string>che-ethiopic.glif</string>
    <key>chee-ethiopic</key>
    <string>chee-ethiopic.glif</string>
    <key>chi-ethiopic</key>
    <string>chi-ethiopic.glif</string>
    <key>chiret-ethiopic</key>
    <string>chiret-ethiopic.glif</string>
    <key>cho-ethiopic</key>
    <string>cho-ethiopic.glif</string>
    <key>chu-ethiopic</key>
    <string>chu-ethiopic.glif</string>
    <key>chwa-ethiopic</key>
    <string>chwa-ethiopic.glif</string>
    <key>ci-ethiopic</key>
    <string>ci-ethiopic.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>co-ethiopic</key>
    <string>co-ethiopic.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon-ethiopic</key>
    <string>colon-ethiopic.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma-ethiopic</key>
    <string>comma-ethiopic.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>cu-ethiopic</key>
    <string>cu-ethiopic.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>cwa-ethiopic</key>
    <string>cwa-ethiopic.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>da-ethiopic</key>
    <string>da-ethiopic.glif</string>
    <key>da.base</key>
    <string>da.base.glif</string>
    <key>daa-ethiopic</key>
    <string>daa-ethiopic.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dda-ethiopic</key>
    <string>dda-ethiopic.glif</string>
    <key>ddaa-ethiopic</key>
    <string>ddaa-ethiopic.glif</string>
    <key>dde-ethiopic</key>
    <string>dde-ethiopic.glif</string>
    <key>ddee-ethiopic</key>
    <string>ddee-ethiopic.glif</string>
    <key>ddi-ethiopic</key>
    <string>ddi-ethiopic.glif</string>
    <key>ddo-ethiopic</key>
    <string>ddo-ethiopic.glif</string>
    <key>ddu-ethiopic</key>
    <string>ddu-ethiopic.glif</string>
    <key>ddwa-ethiopic</key>
    <string>ddwa-ethiopic.glif</string>
    <key>de-ethiopic</key>
    <string>de-ethiopic.glif</string>
    <key>dee-ethiopic</key>
    <string>dee-ethiopic.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>deret-ethiopic</key>
    <string>deret-ethiopic.glif</string>
    <key>deretHidet-ethiopic</key>
    <string>deretH_idet-ethiopic.glif</string>
    <key>di-ethiopic</key>
    <string>di-ethiopic.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>difat-ethiopic</key>
    <string>difat-ethiopic.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>do-ethiopic</key>
    <string>do-ethiopic.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>du-ethiopic</key>
    <string>du-ethiopic.glif</string>
    <key>dwa-ethiopic</key>
    <string>dwa-ethiopic.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eGlottal-ethiopic</key>
    <string>eG_lottal-ethiopic.glif</string>
    <key>ePharyngeal-ethiopic</key>
    <string>eP_haryngeal-ethiopic.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>eeGlottal-ethiopic</key>
    <string>eeG_lottal-ethiopic.glif</string>
    <key>eePharyngeal-ethiopic</key>
    <string>eeP_haryngeal-ethiopic.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight-ethiopic</key>
    <string>eight-ethiopic.glif</string>
    <key>eight.inferior</key>
    <string>eight.inferior.glif</string>
    <key>eight.superior</key>
    <string>eight.superior.glif</string>
    <key>eighty-ethiopic</key>
    <string>eighty-ethiopic.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fa-ethiopic</key>
    <string>fa-ethiopic.glif</string>
    <key>fa.base</key>
    <string>fa.base.glif</string>
    <key>faa-ethiopic</key>
    <string>faa-ethiopic.glif</string>
    <key>fe-ethiopic</key>
    <string>fe-ethiopic.glif</string>
    <key>fee-ethiopic</key>
    <string>fee-ethiopic.glif</string>
    <key>ffi</key>
    <string>ffi.glif</string>
    <key>ffl</key>
    <string>ffl.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi-ethiopic</key>
    <string>fi-ethiopic.glif</string>
    <key>fifty-ethiopic</key>
    <string>fifty-ethiopic.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five-ethiopic</key>
    <string>five-ethiopic.glif</string>
    <key>five.inferior</key>
    <string>five.inferior.glif</string>
    <key>five.superior</key>
    <string>five.superior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>fo-ethiopic</key>
    <string>fo-ethiopic.glif</string>
    <key>forty-ethiopic</key>
    <string>forty-ethiopic.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four-ethiopic</key>
    <string>four-ethiopic.glif</string>
    <key>four.inferior</key>
    <string>four.inferior.glif</string>
    <key>four.superior</key>
    <string>four.superior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>fu-ethiopic</key>
    <string>fu-ethiopic.glif</string>
    <key>fwa-ethiopic</key>
    <string>fwa-ethiopic.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>ga-ethiopic</key>
    <string>ga-ethiopic.glif</string>
    <key>ga.base</key>
    <string>ga.base.glif</string>
    <key>gaa-ethiopic</key>
    <string>gaa-ethiopic.glif</string>
    <key>ge-ethiopic</key>
    <string>ge-ethiopic.glif</string>
    <key>gee-ethiopic</key>
    <string>gee-ethiopic.glif</string>
    <key>geminVowellengthcomb-ethiopic</key>
    <string>geminV_owellengthcomb-ethiopic.glif</string>
    <key>geminationcomb-ethiopic</key>
    <string>geminationcomb-ethiopic.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gga-ethiopic</key>
    <string>gga-ethiopic.glif</string>
    <key>ggaa-ethiopic</key>
    <string>ggaa-ethiopic.glif</string>
    <key>gge-ethiopic</key>
    <string>gge-ethiopic.glif</string>
    <key>ggee-ethiopic</key>
    <string>ggee-ethiopic.glif</string>
    <key>ggi-ethiopic</key>
    <string>ggi-ethiopic.glif</string>
    <key>ggo-ethiopic</key>
    <string>ggo-ethiopic.glif</string>
    <key>ggu-ethiopic</key>
    <string>ggu-ethiopic.glif</string>
    <key>ggwaa-ethiopic</key>
    <string>ggwaa-ethiopic.glif</string>
    <key>gi-ethiopic</key>
    <string>gi-ethiopic.glif</string>
    <key>go-ethiopic</key>
    <string>go-ethiopic.glif</string>
    <key>goa-ethiopic</key>
    <string>goa-ethiopic.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>gu-ethiopic</key>
    <string>gu-ethiopic.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>gwa-ethiopic</key>
    <string>gwa-ethiopic.glif</string>
    <key>gwaa-ethiopic</key>
    <string>gwaa-ethiopic.glif</string>
    <key>gwe-ethiopic</key>
    <string>gwe-ethiopic.glif</string>
    <key>gwee-ethiopic</key>
    <string>gwee-ethiopic.glif</string>
    <key>gwi-ethiopic</key>
    <string>gwi-ethiopic.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>ha-ethiopic</key>
    <string>ha-ethiopic.glif</string>
    <key>ha.base</key>
    <string>ha.base.glif</string>
    <key>haa-ethiopic</key>
    <string>haa-ethiopic.glif</string>
    <key>haa.acute</key>
    <string>haa.acute.glif</string>
    <key>he-ethiopic</key>
    <string>he-ethiopic.glif</string>
    <key>hee-ethiopic</key>
    <string>hee-ethiopic.glif</string>
    <key>hha-ethiopic</key>
    <string>hha-ethiopic.glif</string>
    <key>hha.base</key>
    <string>hha.base.glif</string>
    <key>hhaa-ethiopic</key>
    <string>hhaa-ethiopic.glif</string>
    <key>hhe-ethiopic</key>
    <string>hhe-ethiopic.glif</string>
    <key>hhee-ethiopic</key>
    <string>hhee-ethiopic.glif</string>
    <key>hhi-ethiopic</key>
    <string>hhi-ethiopic.glif</string>
    <key>hho-ethiopic</key>
    <string>hho-ethiopic.glif</string>
    <key>hhu-ethiopic</key>
    <string>hhu-ethiopic.glif</string>
    <key>hhwa-ethiopic</key>
    <string>hhwa-ethiopic.glif</string>
    <key>hi-ethiopic</key>
    <string>hi-ethiopic.glif</string>
    <key>hidet-ethiopic</key>
    <string>hidet-ethiopic.glif</string>
    <key>ho-ethiopic</key>
    <string>ho-ethiopic.glif</string>
    <key>hoa-ethiopic</key>
    <string>hoa-ethiopic.glif</string>
    <key>hu-ethiopic</key>
    <string>hu-ethiopic.glif</string>
    <key>hundred-ethiopic</key>
    <string>hundred-ethiopic.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iGlottal-ethiopic</key>
    <string>iG_lottal-ethiopic.glif</string>
    <key>iPharyngeal-ethiopic</key>
    <string>iP_haryngeal-ethiopic.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>ja-ethiopic</key>
    <string>ja-ethiopic.glif</string>
    <key>jaa-ethiopic</key>
    <string>jaa-ethiopic.glif</string>
    <key>je-ethiopic</key>
    <string>je-ethiopic.glif</string>
    <key>jee-ethiopic</key>
    <string>jee-ethiopic.glif</string>
    <key>ji-ethiopic</key>
    <string>ji-ethiopic.glif</string>
    <key>jo-ethiopic</key>
    <string>jo-ethiopic.glif</string>
    <key>ju-ethiopic</key>
    <string>ju-ethiopic.glif</string>
    <key>jwa-ethiopic</key>
    <string>jwa-ethiopic.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka-ethiopic</key>
    <string>ka-ethiopic.glif</string>
    <key>kaa-ethiopic</key>
    <string>kaa-ethiopic.glif</string>
    <key>ke-ethiopic</key>
    <string>ke-ethiopic.glif</string>
    <key>kee-ethiopic</key>
    <string>kee-ethiopic.glif</string>
    <key>kenat-ethiopic</key>
    <string>kenat-ethiopic.glif</string>
    <key>ki-ethiopic</key>
    <string>ki-ethiopic.glif</string>
    <key>ko-ethiopic</key>
    <string>ko-ethiopic.glif</string>
    <key>koa-ethiopic</key>
    <string>koa-ethiopic.glif</string>
    <key>ku-ethiopic</key>
    <string>ku-ethiopic.glif</string>
    <key>kurt-ethiopic</key>
    <string>kurt-ethiopic.glif</string>
    <key>kwa-ethiopic</key>
    <string>kwa-ethiopic.glif</string>
    <key>kwaa-ethiopic</key>
    <string>kwaa-ethiopic.glif</string>
    <key>kwe-ethiopic</key>
    <string>kwe-ethiopic.glif</string>
    <key>kwee-ethiopic</key>
    <string>kwee-ethiopic.glif</string>
    <key>kwi-ethiopic</key>
    <string>kwi-ethiopic.glif</string>
    <key>kxa-ethiopic</key>
    <string>kxa-ethiopic.glif</string>
    <key>kxaa-ethiopic</key>
    <string>kxaa-ethiopic.glif</string>
    <key>kxe-ethiopic</key>
    <string>kxe-ethiopic.glif</string>
    <key>kxee-ethiopic</key>
    <string>kxee-ethiopic.glif</string>
    <key>kxi-ethiopic</key>
    <string>kxi-ethiopic.glif</string>
    <key>kxo-ethiopic</key>
    <string>kxo-ethiopic.glif</string>
    <key>kxu-ethiopic</key>
    <string>kxu-ethiopic.glif</string>
    <key>kxwa-ethiopic</key>
    <string>kxwa-ethiopic.glif</string>
    <key>kxwaa-ethiopic</key>
    <string>kxwaa-ethiopic.glif</string>
    <key>kxwe-ethiopic</key>
    <string>kxwe-ethiopic.glif</string>
    <key>kxwee-ethiopic</key>
    <string>kxwee-ethiopic.glif</string>
    <key>kxwi-ethiopic</key>
    <string>kxwi-ethiopic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>la-ethiopic</key>
    <string>la-ethiopic.glif</string>
    <key>la.base</key>
    <string>la.base.glif</string>
    <key>laa-ethiopic</key>
    <string>laa-ethiopic.glif</string>
    <key>le-ethiopic</key>
    <string>le-ethiopic.glif</string>
    <key>lee-ethiopic</key>
    <string>lee-ethiopic.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>li-ethiopic</key>
    <string>li-ethiopic.glif</string>
    <key>lo-ethiopic</key>
    <string>lo-ethiopic.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lu-ethiopic</key>
    <string>lu-ethiopic.glif</string>
    <key>lwa-ethiopic</key>
    <string>lwa-ethiopic.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>ma-ethiopic</key>
    <string>ma-ethiopic.glif</string>
    <key>ma.base</key>
    <string>ma.base.glif</string>
    <key>maa-ethiopic</key>
    <string>maa-ethiopic.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>me-ethiopic</key>
    <string>me-ethiopic.glif</string>
    <key>mee-ethiopic</key>
    <string>mee-ethiopic.glif</string>
    <key>mi-ethiopic</key>
    <string>mi-ethiopic.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mo-ethiopic</key>
    <string>mo-ethiopic.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>mu-ethiopic</key>
    <string>mu-ethiopic.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>mwa-ethiopic</key>
    <string>mwa-ethiopic.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>na-ethiopic</key>
    <string>na-ethiopic.glif</string>
    <key>na.base</key>
    <string>na.base.glif</string>
    <key>naa-ethiopic</key>
    <string>naa-ethiopic.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ne-ethiopic</key>
    <string>ne-ethiopic.glif</string>
    <key>nee-ethiopic</key>
    <string>nee-ethiopic.glif</string>
    <key>ni-ethiopic</key>
    <string>ni-ethiopic.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine-ethiopic</key>
    <string>nine-ethiopic.glif</string>
    <key>nine.inferior</key>
    <string>nine.inferior.glif</string>
    <key>nine.superior</key>
    <string>nine.superior.glif</string>
    <key>ninety-ethiopic</key>
    <string>ninety-ethiopic.glif</string>
    <key>nna.base</key>
    <string>nna.base.glif</string>
    <key>no-ethiopic</key>
    <string>no-ethiopic.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>nu-ethiopic</key>
    <string>nu-ethiopic.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>nwa-ethiopic</key>
    <string>nwa-ethiopic.glif</string>
    <key>nya-ethiopic</key>
    <string>nya-ethiopic.glif</string>
    <key>nyaa-ethiopic</key>
    <string>nyaa-ethiopic.glif</string>
    <key>nye-ethiopic</key>
    <string>nye-ethiopic.glif</string>
    <key>nyee-ethiopic</key>
    <string>nyee-ethiopic.glif</string>
    <key>nyi-ethiopic</key>
    <string>nyi-ethiopic.glif</string>
    <key>nyo-ethiopic</key>
    <string>nyo-ethiopic.glif</string>
    <key>nyu-ethiopic</key>
    <string>nyu-ethiopic.glif</string>
    <key>nywa-ethiopic</key>
    <string>nywa-ethiopic.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oGlottal-ethiopic</key>
    <string>oG_lottal-ethiopic.glif</string>
    <key>oPh.base</key>
    <string>oP_h.base.glif</string>
    <key>oPharyngeal-ethiopic</key>
    <string>oP_haryngeal-ethiopic.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one-ethiopic</key>
    <string>one-ethiopic.glif</string>
    <key>one.inferior</key>
    <string>one.inferior.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>pa-ethiopic</key>
    <string>pa-ethiopic.glif</string>
    <key>pa.base</key>
    <string>pa.base.glif</string>
    <key>paa-ethiopic</key>
    <string>paa-ethiopic.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>paragraphseparator-ethiopic</key>
    <string>paragraphseparator-ethiopic.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>pe-ethiopic</key>
    <string>pe-ethiopic.glif</string>
    <key>pee-ethiopic</key>
    <string>pee-ethiopic.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period-ethiopic</key>
    <string>period-ethiopic.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>pha-ethiopic</key>
    <string>pha-ethiopic.glif</string>
    <key>phaa-ethiopic</key>
    <string>phaa-ethiopic.glif</string>
    <key>phe-ethiopic</key>
    <string>phe-ethiopic.glif</string>
    <key>phee-ethiopic</key>
    <string>phee-ethiopic.glif</string>
    <key>phi-ethiopic</key>
    <string>phi-ethiopic.glif</string>
    <key>pho-ethiopic</key>
    <string>pho-ethiopic.glif</string>
    <key>phu-ethiopic</key>
    <string>phu-ethiopic.glif</string>
    <key>phwa-ethiopic</key>
    <string>phwa-ethiopic.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>pi-ethiopic</key>
    <string>pi-ethiopic.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>po-ethiopic</key>
    <string>po-ethiopic.glif</string>
    <key>prefacecolon-ethiopic</key>
    <string>prefacecolon-ethiopic.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>pu-ethiopic</key>
    <string>pu-ethiopic.glif</string>
    <key>pwa-ethiopic</key>
    <string>pwa-ethiopic.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>qa-ethiopic</key>
    <string>qa-ethiopic.glif</string>
    <key>qaa-ethiopic</key>
    <string>qaa-ethiopic.glif</string>
    <key>qe-ethiopic</key>
    <string>qe-ethiopic.glif</string>
    <key>qee-ethiopic</key>
    <string>qee-ethiopic.glif</string>
    <key>qha-ethiopic</key>
    <string>qha-ethiopic.glif</string>
    <key>qhaa-ethiopic</key>
    <string>qhaa-ethiopic.glif</string>
    <key>qhe-ethiopic</key>
    <string>qhe-ethiopic.glif</string>
    <key>qhee-ethiopic</key>
    <string>qhee-ethiopic.glif</string>
    <key>qhi-ethiopic</key>
    <string>qhi-ethiopic.glif</string>
    <key>qho-ethiopic</key>
    <string>qho-ethiopic.glif</string>
    <key>qhu-ethiopic</key>
    <string>qhu-ethiopic.glif</string>
    <key>qhwa-ethiopic</key>
    <string>qhwa-ethiopic.glif</string>
    <key>qhwaa-ethiopic</key>
    <string>qhwaa-ethiopic.glif</string>
    <key>qhwe-ethiopic</key>
    <string>qhwe-ethiopic.glif</string>
    <key>qhwee-ethiopic</key>
    <string>qhwee-ethiopic.glif</string>
    <key>qhwi-ethiopic</key>
    <string>qhwi-ethiopic.glif</string>
    <key>qi-ethiopic</key>
    <string>qi-ethiopic.glif</string>
    <key>qo-ethiopic</key>
    <string>qo-ethiopic.glif</string>
    <key>qoa-ethiopic</key>
    <string>qoa-ethiopic.glif</string>
    <key>qu-ethiopic</key>
    <string>qu-ethiopic.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question-ethiopic</key>
    <string>question-ethiopic.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>qwa-ethiopic</key>
    <string>qwa-ethiopic.glif</string>
    <key>qwaa-ethiopic</key>
    <string>qwaa-ethiopic.glif</string>
    <key>qwe-ethiopic</key>
    <string>qwe-ethiopic.glif</string>
    <key>qwee-ethiopic</key>
    <string>qwee-ethiopic.glif</string>
    <key>qwi-ethiopic</key>
    <string>qwi-ethiopic.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ra-ethiopic</key>
    <string>ra-ethiopic.glif</string>
    <key>ra.base</key>
    <string>ra.base.glif</string>
    <key>raa-ethiopic</key>
    <string>raa-ethiopic.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>re-ethiopic</key>
    <string>re-ethiopic.glif</string>
    <key>ree-ethiopic</key>
    <string>ree-ethiopic.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ri-ethiopic</key>
    <string>ri-ethiopic.glif</string>
    <key>rikrik-ethiopic</key>
    <string>rikrik-ethiopic.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ro-ethiopic</key>
    <string>ro-ethiopic.glif</string>
    <key>ru-ethiopic</key>
    <string>ru-ethiopic.glif</string>
    <key>rwa-ethiopic</key>
    <string>rwa-ethiopic.glif</string>
    <key>rya-ethiopic</key>
    <string>rya-ethiopic.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sa-ethiopic</key>
    <string>sa-ethiopic.glif</string>
    <key>sa.base</key>
    <string>sa.base.glif</string>
    <key>saa-ethiopic</key>
    <string>saa-ethiopic.glif</string>
    <key>se-ethiopic</key>
    <string>se-ethiopic.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sectionmark-ethiopic</key>
    <string>sectionmark-ethiopic.glif</string>
    <key>see-ethiopic</key>
    <string>see-ethiopic.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon-ethiopic</key>
    <string>semicolon-ethiopic.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven-ethiopic</key>
    <string>seven-ethiopic.glif</string>
    <key>seven.inferior</key>
    <string>seven.inferior.glif</string>
    <key>seven.superior</key>
    <string>seven.superior.glif</string>
    <key>seventy-ethiopic</key>
    <string>seventy-ethiopic.glif</string>
    <key>sha-ethiopic</key>
    <string>sha-ethiopic.glif</string>
    <key>shaa-ethiopic</key>
    <string>shaa-ethiopic.glif</string>
    <key>she-ethiopic</key>
    <string>she-ethiopic.glif</string>
    <key>shee-ethiopic</key>
    <string>shee-ethiopic.glif</string>
    <key>shi-ethiopic</key>
    <string>shi-ethiopic.glif</string>
    <key>sho-ethiopic</key>
    <string>sho-ethiopic.glif</string>
    <key>shortRikrik-ethiopic</key>
    <string>shortR_ikrik-ethiopic.glif</string>
    <key>shu-ethiopic</key>
    <string>shu-ethiopic.glif</string>
    <key>shwa-ethiopic</key>
    <string>shwa-ethiopic.glif</string>
    <key>si-ethiopic</key>
    <string>si-ethiopic.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six-ethiopic</key>
    <string>six-ethiopic.glif</string>
    <key>six.inferior</key>
    <string>six.inferior.glif</string>
    <key>six.superior</key>
    <string>six.superior.glif</string>
    <key>sixty-ethiopic</key>
    <string>sixty-ethiopic.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>so-ethiopic</key>
    <string>so-ethiopic.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>su-ethiopic</key>
    <string>su-ethiopic.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>swa-ethiopic</key>
    <string>swa-ethiopic.glif</string>
    <key>sza-ethiopic</key>
    <string>sza-ethiopic.glif</string>
    <key>szaa-ethiopic</key>
    <string>szaa-ethiopic.glif</string>
    <key>sze-ethiopic</key>
    <string>sze-ethiopic.glif</string>
    <key>szee-ethiopic</key>
    <string>szee-ethiopic.glif</string>
    <key>szi-ethiopic</key>
    <string>szi-ethiopic.glif</string>
    <key>szo-ethiopic</key>
    <string>szo-ethiopic.glif</string>
    <key>szu-ethiopic</key>
    <string>szu-ethiopic.glif</string>
    <key>szwa-ethiopic</key>
    <string>szwa-ethiopic.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>ta-ethiopic</key>
    <string>ta-ethiopic.glif</string>
    <key>ta.base</key>
    <string>ta.base.glif</string>
    <key>taa-ethiopic</key>
    <string>taa-ethiopic.glif</string>
    <key>te-ethiopic</key>
    <string>te-ethiopic.glif</string>
    <key>tee-ethiopic</key>
    <string>tee-ethiopic.glif</string>
    <key>ten-ethiopic</key>
    <string>ten-ethiopic.glif</string>
    <key>tenthousand-ethiopic</key>
    <string>tenthousand-ethiopic.glif</string>
    <key>tha-ethiopic</key>
    <string>tha-ethiopic.glif</string>
    <key>thaa-ethiopic</key>
    <string>thaa-ethiopic.glif</string>
    <key>the-ethiopic</key>
    <string>the-ethiopic.glif</string>
    <key>thee-ethiopic</key>
    <string>thee-ethiopic.glif</string>
    <key>thi-ethiopic</key>
    <string>thi-ethiopic.glif</string>
    <key>thirty-ethiopic</key>
    <string>thirty-ethiopic.glif</string>
    <key>tho-ethiopic</key>
    <string>tho-ethiopic.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three-ethiopic</key>
    <string>three-ethiopic.glif</string>
    <key>three.inferior</key>
    <string>three.inferior.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>thu-ethiopic</key>
    <string>thu-ethiopic.glif</string>
    <key>thwa-ethiopic</key>
    <string>thwa-ethiopic.glif</string>
    <key>ti-ethiopic</key>
    <string>ti-ethiopic.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>to-ethiopic</key>
    <string>to-ethiopic.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tsa-ethiopic</key>
    <string>tsa-ethiopic.glif</string>
    <key>tsa.base</key>
    <string>tsa.base.glif</string>
    <key>tsaa-ethiopic</key>
    <string>tsaa-ethiopic.glif</string>
    <key>tse-ethiopic</key>
    <string>tse-ethiopic.glif</string>
    <key>tsee-ethiopic</key>
    <string>tsee-ethiopic.glif</string>
    <key>tsi-ethiopic</key>
    <string>tsi-ethiopic.glif</string>
    <key>tso-ethiopic</key>
    <string>tso-ethiopic.glif</string>
    <key>tsu-ethiopic</key>
    <string>tsu-ethiopic.glif</string>
    <key>tswa-ethiopic</key>
    <string>tswa-ethiopic.glif</string>
    <key>tu-ethiopic</key>
    <string>tu-ethiopic.glif</string>
    <key>twa-ethiopic</key>
    <string>twa-ethiopic.glif</string>
    <key>twenty-ethiopic</key>
    <string>twenty-ethiopic.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two-ethiopic</key>
    <string>two-ethiopic.glif</string>
    <key>two.inferior</key>
    <string>two.inferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>twothirds</key>
    <string>twothirds.glif</string>
    <key>tza-ethiopic</key>
    <string>tza-ethiopic.glif</string>
    <key>tzaa-ethiopic</key>
    <string>tzaa-ethiopic.glif</string>
    <key>tze-ethiopic</key>
    <string>tze-ethiopic.glif</string>
    <key>tzee-ethiopic</key>
    <string>tzee-ethiopic.glif</string>
    <key>tzi-ethiopic</key>
    <string>tzi-ethiopic.glif</string>
    <key>tzo-ethiopic</key>
    <string>tzo-ethiopic.glif</string>
    <key>tzoa-ethiopic</key>
    <string>tzoa-ethiopic.glif</string>
    <key>tzu-ethiopic</key>
    <string>tzu-ethiopic.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uGlottal-ethiopic</key>
    <string>uG_lottal-ethiopic.glif</string>
    <key>uPharyngeal-ethiopic</key>
    <string>uP_haryngeal-ethiopic.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>va-ethiopic</key>
    <string>va-ethiopic.glif</string>
    <key>vaa-ethiopic</key>
    <string>vaa-ethiopic.glif</string>
    <key>ve-ethiopic</key>
    <string>ve-ethiopic.glif</string>
    <key>vee-ethiopic</key>
    <string>vee-ethiopic.glif</string>
    <key>vi-ethiopic</key>
    <string>vi-ethiopic.glif</string>
    <key>vo-ethiopic</key>
    <string>vo-ethiopic.glif</string>
    <key>vowellengthcomb-ethiopic</key>
    <string>vowellengthcomb-ethiopic.glif</string>
    <key>vu-ethiopic</key>
    <string>vu-ethiopic.glif</string>
    <key>vwa-ethiopic</key>
    <string>vwa-ethiopic.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wa-ethiopic</key>
    <string>wa-ethiopic.glif</string>
    <key>wa.base</key>
    <string>wa.base.glif</string>
    <key>waGlottal-ethiopic</key>
    <string>waG_lottal-ethiopic.glif</string>
    <key>waa-ethiopic</key>
    <string>waa-ethiopic.glif</string>
    <key>we-ethiopic</key>
    <string>we-ethiopic.glif</string>
    <key>wee-ethiopic</key>
    <string>wee-ethiopic.glif</string>
    <key>wi-ethiopic</key>
    <string>wi-ethiopic.glif</string>
    <key>wo-ethiopic</key>
    <string>wo-ethiopic.glif</string>
    <key>woa-ethiopic</key>
    <string>woa-ethiopic.glif</string>
    <key>wordspace-ethiopic</key>
    <string>wordspace-ethiopic.glif</string>
    <key>wu-ethiopic</key>
    <string>wu-ethiopic.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xa-ethiopic</key>
    <string>xa-ethiopic.glif</string>
    <key>xaa-ethiopic</key>
    <string>xaa-ethiopic.glif</string>
    <key>xe-ethiopic</key>
    <string>xe-ethiopic.glif</string>
    <key>xee-ethiopic</key>
    <string>xee-ethiopic.glif</string>
    <key>xi-ethiopic</key>
    <string>xi-ethiopic.glif</string>
    <key>xo-ethiopic</key>
    <string>xo-ethiopic.glif</string>
    <key>xoa-ethiopic</key>
    <string>xoa-ethiopic.glif</string>
    <key>xu-ethiopic</key>
    <string>xu-ethiopic.glif</string>
    <key>xwa-ethiopic</key>
    <string>xwa-ethiopic.glif</string>
    <key>xwaa-ethiopic</key>
    <string>xwaa-ethiopic.glif</string>
    <key>xwe-ethiopic</key>
    <string>xwe-ethiopic.glif</string>
    <key>xwee-ethiopic</key>
    <string>xwee-ethiopic.glif</string>
    <key>xwi-ethiopic</key>
    <string>xwi-ethiopic.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya-ethiopic</key>
    <string>ya-ethiopic.glif</string>
    <key>ya.base</key>
    <string>ya.base.glif</string>
    <key>yaa-ethiopic</key>
    <string>yaa-ethiopic.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ye-ethiopic</key>
    <string>ye-ethiopic.glif</string>
    <key>yee-ethiopic</key>
    <string>yee-ethiopic.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yi-ethiopic</key>
    <string>yi-ethiopic.glif</string>
    <key>yizet-ethiopic</key>
    <string>yizet-ethiopic.glif</string>
    <key>yo-ethiopic</key>
    <string>yo-ethiopic.glif</string>
    <key>yoa-ethiopic</key>
    <string>yoa-ethiopic.glif</string>
    <key>yu-ethiopic</key>
    <string>yu-ethiopic.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>za-ethiopic</key>
    <string>za-ethiopic.glif</string>
    <key>za.base</key>
    <string>za.base.glif</string>
    <key>zaa-ethiopic</key>
    <string>zaa-ethiopic.glif</string>
    <key>ze-ethiopic</key>
    <string>ze-ethiopic.glif</string>
    <key>zee-ethiopic</key>
    <string>zee-ethiopic.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.inferior</key>
    <string>zero.inferior.glif</string>
    <key>zero.superior</key>
    <string>zero.superior.glif</string>
    <key>zha-ethiopic</key>
    <string>zha-ethiopic.glif</string>
    <key>zhaa-ethiopic</key>
    <string>zhaa-ethiopic.glif</string>
    <key>zhe-ethiopic</key>
    <string>zhe-ethiopic.glif</string>
    <key>zhee-ethiopic</key>
    <string>zhee-ethiopic.glif</string>
    <key>zhi-ethiopic</key>
    <string>zhi-ethiopic.glif</string>
    <key>zho-ethiopic</key>
    <string>zho-ethiopic.glif</string>
    <key>zhu-ethiopic</key>
    <string>zhu-ethiopic.glif</string>
    <key>zhwa-ethiopic</key>
    <string>zhwa-ethiopic.glif</string>
    <key>zi-ethiopic</key>
    <string>zi-ethiopic.glif</string>
    <key>zo-ethiopic</key>
    <string>zo-ethiopic.glif</string>
    <key>zu-ethiopic</key>
    <string>zu-ethiopic.glif</string>
    <key>zwa-ethiopic</key>
    <string>zwa-ethiopic.glif</string>
  </dict>
</plist>
